/.config
/.config.arm64
/include/generated/autoconf.h
/include/generated/autoconf-arm64.h
/include/generated/autoconf-arm64.mk
/obj/
/out/
/build/
/work/
*.img
*.iso
*.log
*.map
*.o
*.obj
*.pyc
__pycache__/
.DS_Store
.idea/
.vscode/
