CONFIG_ARCH_ARM64=y
# CONFIG_ARCH_X86_64 is not set
CONFIG_KERNEL_VERSION="2.0.8"
CONFIG_KERNEL_VERSION_APPEND="+arm64"
CONFIG_LINUX_ABI_RELEASE="6.12.0-edgeos"
CONFIG_AIO=y
CONFIG_IO_URING=y
CONFIG_SMP=y
CONFIG_NR_CPUS=64
CONFIG_BSD_DRIVER_BRIDGE=y
CONFIG_BSD_DRIVER_ACPICA=y
CONFIG_BSD_DRIVER_MODULES=y
CONFIG_BSD_DRIVER_FDT_INVENTORY=y
CONFIG_BSD_DRIVER_MODULE_DIRECTORY="/usr/lib/edgeos/modules"
CONFIG_BSD_DRIVER_MODULE_AUTOLOAD=y
CONFIG_BSD_DRIVER_MODULE_CONFIG="/etc/modules.load"
CONFIG_INITRAMFS=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_INITRAMFS_MAX_INODES=8192
CONFIG_INITRAMFS_MAX_BYTES=268435456
CONFIG_INITRAMFS_GZIP=y
CONFIG_INITRAMFS_COMPRESSION_GZIP=y
# CONFIG_INITRAMFS_CRC is not set
# CONFIG_APIC is not set
# CONFIG_IOAPIC is not set
# CONFIG_CPUFREQ_INTEL_PSTATE is not set
CONFIG_ACPI=y
# CONFIG_HPET is not set
CONFIG_RTC=y
# CONFIG_PCI is not set
# CONFIG_PCIE is not set
# CONFIG_PCI_DRIVER_PROBE is not set
# CONFIG_PCI_MSI is not set
# CONFIG_PCI_MSIX is not set
# CONFIG_SMBUS is not set
# CONFIG_I2C is not set
CONFIG_DEVICE_TREE=y
# CONFIG_EFI_RUNTIME is not set
CONFIG_EFI_GOP=y
CONFIG_VIRTIO_BLK=y
CONFIG_LOOP_DEVICE=y
CONFIG_DEVICE_MAPPER=y
# CONFIG_VIRTIO_SCSI is not set
# CONFIG_NVME is not set
# CONFIG_AHCI is not set
# CONFIG_ATA is not set
# CONFIG_VMWARE_PVSCSI is not set
CONFIG_NET=y
# CONFIG_E1000 is not set
# CONFIG_NET_INTEL_E1000E is not set
# CONFIG_NET_INTEL_IGC is not set
# CONFIG_NET_REALTEK_R8169 is not set
# CONFIG_WIFI_INTEL_IWLWIFI is not set
CONFIG_VIRTIO_NET=y
# CONFIG_VMWARE_VMXNET3 is not set
# CONFIG_HYPERV_NETVSC is not set
# CONFIG_USB is not set
# CONFIG_PS2_KEYBOARD is not set
# CONFIG_PS2_MOUSE is not set
CONFIG_VIRTIO_INPUT=y
CONFIG_FB_CONSOLE=y
# CONFIG_GRAPHICS_BGA is not set
# CONFIG_GRAPHICS_VBE is not set
# CONFIG_VMWARE_SVGA is not set
# CONFIG_GRAPHICS_INTEL is not set
CONFIG_VIRTIO_GPU=y
# CONFIG_AUDIO_HDA is not set
# CONFIG_AUDIO_AC97 is not set
# CONFIG_VIRTIO_RNG is not set
# CONFIG_VIRTIO_BALLOON is not set
# CONFIG_VIRTIO_CONSOLE is not set
# CONFIG_SERIAL_16550 is not set
# CONFIG_TPM2 is not set
# CONFIG_WATCHDOG is not set
CONFIG_FS_SWAP=y
# CONFIG_FS_EXT2 is not set
CONFIG_FS_EXT4=y
# CONFIG_FS_FAT32 is not set
# CONFIG_FS_EXFAT is not set
# CONFIG_FS_NTFS is not set
# CONFIG_FS_ISO9660 is not set
# CONFIG_FS_UDF is not set
CONFIG_FS_SQUASHFS=y
CONFIG_FS_EROFS=y
CONFIG_FS_XFS=y
CONFIG_FS_BTRFS=y
CONFIG_NFSD=y
CONFIG_FUSE_FS=y
CONFIG_OVERLAY_FS=y
