CONFIG_ARCH_X86_64=y
# CONFIG_ARCH_ARM64 is not set
CONFIG_X86_X32_ABI=y
CONFIG_LINUX_ABI_RELEASE="6.12.0-edgeos"
CONFIG_AIO=y
CONFIG_IO_URING=y
CONFIG_SMP=y
CONFIG_NR_CPUS=64
CONFIG_BSD_DRIVER_BRIDGE=y
CONFIG_BSD_DRIVER_ACPICA=y
CONFIG_BSD_DRIVER_MODULES=y
CONFIG_BSD_DRIVER_MODULE_DIRECTORY="/usr/lib/edgeos/modules"
CONFIG_BSD_DRIVER_MODULE_AUTOLOAD=y
CONFIG_BSD_DRIVER_MODULE_CONFIG="/etc/modules.load"
CONFIG_FB_CONSOLE=y
CONFIG_VIRTIO_BLK=y
CONFIG_LOOP_DEVICE=y
CONFIG_DEVICE_MAPPER=y
CONFIG_VIRTIO_SCSI=y
CONFIG_NVME=y
CONFIG_AHCI=y
CONFIG_ATA=y
CONFIG_PCI_DRIVER_PROBE=y
CONFIG_PCI=y
CONFIG_PCIE=y
CONFIG_SMBUS=y
CONFIG_NET=y
CONFIG_E1000=y
CONFIG_NET_INTEL_E1000E=y
# CONFIG_NET_INTEL_IGC is not set
CONFIG_NET_REALTEK_R8169=y
# CONFIG_WIFI_INTEL_IWLWIFI is not set
CONFIG_VIRTIO_NET=y
# CONFIG_VMWARE_VMXNET3 is not set
# CONFIG_HYPERV_NETVSC is not set
CONFIG_CPUFREQ_INTEL_PSTATE=y
CONFIG_USB=y
CONFIG_USB_HUB=y
CONFIG_USB_HID_KEYBOARD=y
CONFIG_USB_HID_MOUSE=y
CONFIG_USB_AUDIO=y
# CONFIG_USB_UVC is not set
CONFIG_USB_STORAGE=y
CONFIG_USB_EHCI=y
CONFIG_USB_OHCI=y
# CONFIG_USB_ETH_ASIX is not set
# CONFIG_USB_ETH_RTL8153 is not set
CONFIG_USB_UHCI=y
CONFIG_USB_XHCI=y
CONFIG_VIRTIO_GPU=y
CONFIG_VIRTIO_RNG=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VMWARE_PVSCSI=y
CONFIG_FS_EXT2=y
CONFIG_FS_EXT4=y
CONFIG_FS_FAT32=y
CONFIG_FS_EXFAT=y
CONFIG_FS_NTFS=y
CONFIG_FS_ISO9660=y
CONFIG_FS_UDF=y
CONFIG_FS_SQUASHFS=y
CONFIG_FS_EROFS=y
CONFIG_FS_XFS=y
CONFIG_FS_BTRFS=y
CONFIG_NFSD=y
CONFIG_FUSE_FS=y
CONFIG_FS_SWAP=y
CONFIG_INITRAMFS=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_INITRAMFS_MAX_INODES=8192
CONFIG_INITRAMFS_MAX_BYTES=268435456
CONFIG_INITRAMFS_GZIP=y
CONFIG_INITRAMFS_COMPRESSION_GZIP=y
# CONFIG_INITRAMFS_CRC is not set
CONFIG_OVERLAY_FS=y
CONFIG_PS2_KEYBOARD=y
CONFIG_PS2_MOUSE=y
CONFIG_TOUCHPAD_SYNAPTICS=y
CONFIG_TOUCHPAD_ELAN=y
CONFIG_GRAPHICS_BGA=y
CONFIG_GRAPHICS_VBE=y
# CONFIG_GRAPHICS_INTEL is not set
CONFIG_VMWARE_SVGA=y
CONFIG_AUDIO_HDA=y
CONFIG_ACPI=y
CONFIG_ACPI_AC_ADAPTER=y
CONFIG_ACPI_BATTERY=y
CONFIG_ACPI_EC=y
CONFIG_ACPI_DOCK=y
CONFIG_ACPI_POWER_RESOURCE=y
CONFIG_ACPI_THERMAL=y
# CONFIG_ACPI_BUTTON is not set
CONFIG_RTC=y
CONFIG_HPET=y
CONFIG_APIC=y
CONFIG_IOAPIC=y
CONFIG_PCI_MSI=y
CONFIG_PCI_MSIX=y
CONFIG_SERIAL_16550=y
CONFIG_I2C=y
CONFIG_TPM2=y
CONFIG_EFI_RUNTIME=y
CONFIG_EFI_GOP=y
# CONFIG_DEVICE_TREE is not set
CONFIG_WATCHDOG=y
